{% if player.game.next_player == player %}
<h3>YOUR TURN</h3>
{% end %}

{{ player.forget() or '' }}

<div>
<input id="name" value="{{ player.name }}" onchange="ws.send('{{ player.remember(player.rename) }} ' + $('#name').val())"/>
</div>

{% if player.game.state == 'bid' %}
{% for bid in [('pass', 0), ('1', 1), ('2', 2), ('3', 3), ('4', 4), ('5', 5), ('6', 6), ('kaibosh', 12)] %}
<a href="#" onclick="ws.send('{{ player.remember(player.bid, bid[1]) }}');">{{ bid[0] }}</a> 
{% end %}
{% end %}

{% if player.game.state == 'name_trump' %}
{% for suit in sorted(suits.values()) %}
<a href="#" onclick="ws.send('{{ player.remember(player.name_trump, suit) }}');">{{ suit }}</a> 
{% end %}
{% end %}

<br/>

{% for card in player.hand %}
<a href="#" onclick="ws.send('{{ player.remember(player.play_card, card) }}');">{{ card.image() }}</a>
{% end %}

<div>
{% if player.game.state == 'play_card' %}
Trump: {{ player.game.trump }}
{% end %}
</div>

<table>
<tr><td>Name</td><td>Tricks</td><td>Total Score</td></tr>
{% for otherplayer in player.game.players %}
<tr>
  <td>{{ otherplayer.name }}</td>
  <td>{{ player.game.tricks_won.get(otherplayer, 0) }}</td>
  <td>{{ otherplayer.score }}</td>
</tr>
{% end %}
</table>

{% if getattr(player.game, 'trick_cards', None) %}
<div>
<h3>Current Trick</h3>
{% for card in player.game.trick_cards %}
    {{ card.player.name }} {{ card.image() }}
{% end %}
</div>
{% end %}

{% if getattr(player.game, 'last_trick_cards', None) %}
<div>
<h3>Last Trick</h3>
{% for card in player.game.last_trick_cards %}
    {{ card.player.name }} {{ card.image() }}
{% end %}
</div>
{% end %}
