<script>
{% if player.game.next_player == player %}
$('body').css({'background': '#c3e9ff'})
{% else %}
$('body').css({'background': 'white'})
{% end %}
</script>

{% if player.game.state == 'bid' %}
{% for bid in [('pass', 0), ('1', 1), ('2', 2), ('3', 3), ('4', 4), ('5', 5), ('6', 6), ('kaibosh', 12)] %}
<a href="#" onclick="ws.send('{{ player.remember(player.bid, bid[1]) }}');">{{ bid[0] }}</a> 
{% end %}
{% end %}

{% if player.game.state == 'name_trump' %}
{% for suit in sorted(suits.values()) %}
<a href="#" onclick="ws.send('{{ player.remember(player.name_trump, suit) }}');">{{ suit }}</a> 
{% end %}
{% end %}

<br/>

{% for card in player.hand %}
<a href="#" onclick="ws.send('{{ player.remember(player.play_card, card) }}');">{{ card.image() }}</a>
{% end %}

{% if len(player.game.players) == 4 %}
<div class="score" style="height: 5em; overflow: auto;">
<table width="100%">
<tr>
  <td>Bid</td>
  <td>{{ player.game.players[0] }} & {{ player.game.players[2] }}</td>
  <td>{{ player.game.players[1] }} & {{ player.game.players[3] }}</td>
</tr>
{% for line in player.game.score %}
<tr>
  {% if line['made_it'] is None or line['made_it']%}
  <td>{{ line['bidder'] or ''}} {{ line['bid'] or ''}} {{ line['trump'] or '' }}</td>
  {% else %}
  <td>({{ line['bidder'] or ''}} {{ line['bid'] or ''}} {{ line['trump'] or '' }})</td>
  {% end %}
  {% for score in line['scores'] %}
  <td>{{ score or ''}}</td>
  {% end %}
</tr>
{% end %}
</table>
</div>
{% end %}

{% if getattr(player.game, 'trick_cards', None) %}
<div>
<h3>Current Trick</h3>
{% for card in player.game.trick_cards %}
    {{ card.player.name }} {{ card.image() }}
{% end %}
</div>
{% end %}

{% if getattr(player.game, 'last_trick_cards', None) %}
<div>
<h3>Last Trick</h3>
{% for card in player.game.last_trick_cards %}
    {{ card.player.name }} {{ card.image() }}
{% end %}
</div>
{% end %}
