{% autoescape None %}
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<script src="/static/jquery.js"></script>
<style>
table#card-table td{
    width: 72px;
    height: 96px;
}
table#card-table {
    margin-right: auto;
    margin-left: auto;
}
</style>
<script>

var soundEnabled = true;

function update(div) {
    if (div == 'all') {
        update('hand');
        update('score');
        update('table');
        return;
    }
    $('#' + div).load('http://' + location.hostname + ':' + location.port + location.pathname + '/' + div);
}

$(document).ready(function() {
    ws = new WebSocket('wss://' + location.hostname + ':' + location.port + location.pathname + '/get');
    update('all');

    ws.onmessage = function(msg) {
        if (msg.data.indexOf('update_') == 0) {
            update(msg.data.substring(7));
            if (soundEnabled) playSound('your_turn');
            return;
        } else if (msg.data.indexOf('!') != -1) {
            if (soundEnabled) playSound('error');
        } else {
            if (soundEnabled) playSound('message');
        }
    }
});

sounds = {
  'play': {
    url: '/static/sounds/play.mp3',
    audioObject: null
  },
  'error': {
    url: '/static/sounds/error.mp3',
    audioObject: null
  },
  'your_turn': {
    url: '/static/sounds/your_turn.mp3',
    audioObject: null
  },
  'message': {
    url: '/static/sounds/message.mp3',
    audioObject: null
  }
};

soundsReady = false;

function readySounds() {
  if (soundsReady) return;
  for (soundName in sounds) {
    if (!sounds[soundName].audioObject) {
      sounds[soundName].audioObject = new Audio(sounds[soundName].url);
    } else {
      sounds[soundName].audioObject.currentTime = 0;
    }
    sounds[soundName].audioObject.play();
    sounds[soundName].audioObject.pause();
  }
  soundsReady = true;
}

function playSound(soundName) {
  sounds[soundName].audioObject.play();
}

</script>
</head>

<body>

Sounds? <input type="checkbox" id="sound-enabled" onchange="soundEnabled = !soundEnabled" checked>
<div id="hand">
</div>
<div id="score" style="height: 10em; overflow: auto;">
</div>
<div id="table">
</div>
</body>
</html>

