<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<script type="text/javascript" src="/static/swfobject.js"></script>
<script type="text/javascript" src="/static/FABridge.js"></script>
<script type="text/javascript" src="/static/web_socket.js"></script>
<script src="/static/jquery.js"></script>
<script>
WebSocket.__swfLocation = "/static/WebSocketMain.swf";

function update_hand() {
    $('#hand').load('http://' + location.hostname + ':' + location.port + location.pathname + '/hand');
}

$(document).ready(function() {
    ws = new WebSocket('ws://' + location.hostname + ':' + location.port + location.pathname + '/get')

    player_name = prompt('Name', '{{ player.name }}');
    ws.onopen = function(msg) {
        ws.send('name ' + player_name);
    }

    ws.onmessage = function(msg) {
        update_hand();
        $('#messages').prepend(msg.data + '<br/>');
    }

    update_hand();
});

</script>
</head>

<body>
<div id="messages" style="height: 10em; overflow: scroll">
</div>

<div id="hand">
</div>
</body>
